body {margin:0;}
ul.topnav {
  list-style-type: none;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  z-index:9999;
  background-color: #333;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}



.backgroundimg-1, .backgroundimg-2, .backgroundimg-3 {
	position: relative;
	opacity: 0.85;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.backgroundimg-1 {
	background-image: url("computer_desk_coffee.jpg");
	min-height: 400px;
	margin-top: 50px;
	
}

.backgroundimg-2 {
	background-image: url("computer_keyboard.jpg");
	min-height: 400px;
}

.backgroundimg-3 {
	background-image: url("apple_computer_mouse.jpg");
	min-height: 400px;
}



@media (max-width:800px) {
	body { background-color: red; }
	ul.topnav li {display: none;}
	ul.topnav li.icon {
		float: left;
		display: inline-block;
	}
	.backgroundimg-1 {
		min-height: 200px;
	}
}

@media (max-width:800px) {
  ul.topnav.responsive {position: fixed;}
  ul.topnav.responsive li.icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    /*text-align: left;*/
  }
}