body, html {
	margin:0;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

ul.topnav {
  list-style-type: none;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  z-index:9999;
  background-color: #03A9F4;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 27px;
}

ul.topnav li a:hover {background-color: #0288D1;}

ul.topnav li div.menuButton {
	display: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: 0.4s;
}

.bar2, .bar3 {
	margin-top: 6px;
}

.section {
	position: relative;
	overflow: hidden;
	padding: 100px;
	padding-top: 250px;
	padding-bottom: 250px;
}

.section:before, .footer:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.2;
	background-image: url("images/background/black-triangle-background.jpg");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

.sectionHeader {
	font-size: 30px;
	text-align: center;
}

.technologyBoxes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
}

.aboutMeBoxes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
}

div.skill {
	margin: 80px;
   width: 300px;
   height: 250px;
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 0;
}

.flexImg {
	margin: 80px;
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 0;
}

.flexImg img {
	width: 100px;
}

.flex {
	font-size: 30px;
	margin: 100px;
   flex-grow: 1;
   flex-shrink: 0;
   flex-basis: 200px;
}

.contactBoxes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
   align-content: flex-start;
   align-items: flex-start;
}

.mail, .phone {
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 0;
	display: flex;
   align-items: center;
   justify-content: center;
}

div.skill p {
	text-align: center;
}

.skillImg {
	position: relative;
   float: left;
   width:  200px;
   height: 200px;
   background-position: 50% 50%;
   background-repeat:   no-repeat;
   background-size:     cover;
}

.contactSection .sectionHeader {
	margin-bottom: 100px;
}

.mailContent, .phoneContent {
	font-size: 30px;
	margin-left: 30px;
}

.socialMedia {
	padding-top: 100px;
}

.socialMediaBoxes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
   align-content: flex-start;
   align-items: flex-start;
}

.socialFlex{
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 0;
}

.backgroundimg-1, .backgroundimg-2, .backgroundimg-3 {
	position: relative;
	opacity: 0.85;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.backgroundimg-1 {
	background-image: url("images/background/computer_desk_coffee.jpg");
	min-height: 100%;
	margin-top: 45px;
	
}

.backgroundimg-2 {
	background-image: url("images/background/computer_keyboard.jpg");
	min-height: 400px;
}

.backgroundimg-3 {
	background-image: url("images/background/apple_computer_mouse.jpg");
	min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #BDBDBD;
  color: #fff;
  padding: 18px;
  font-size: 35px;
  letter-spacing: 10px;
}


.footer {
	position: relative;
	bottom: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("images/background/green_footer_background.png");
	min-height: 600px;
	text:align: bottom;
}

.footerContent {
	font-size: 20px;
	color: white;
	position: absolute;
   bottom: 70px;
   left: 40px;
}

@media (max-width:800px) {
	div.section {
		padding: 40px;
		padding-top: 150px;
		padding-bottom: 150px;
	}
	ul.topnav ul {width: 100%;}
	ul.topnav li:not(:first-child) {display: none;}
	ul.topnav li div.menuButton {
		padding: 16px 16px;
		margin: 0 0;
		float: left;
		display: inline-block;
	}
	ul.topnav li div.menuButton:hover {background-color: #0288D1;}
	.caption span.border {
		padding: 10px;
		font-size: 15px;
		letter-spacing: 2px;
	}
	#emailIcon, #phoneIcon {
		height: 24px;
		width: 24px;
	}
	.mailContent, .phoneContent {
		font-size: 22px;
		/*margin-left: 30px;*/
	}
	.socialMediaBoxes {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
}

@media (max-width:800px) {
  ul.topnav.responsive {position: fixed;}
  ul.topnav.responsive li div.menuButton {
	padding: 16px 16px;
	margin: 0 0;
   position: absolute;
   left: 0;
   top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
	 width: 100%;
  }
  ul.topnav.responsive li a {
    display: block;
  }
  .caption span.border {
		padding: 10px;
		font-size: 15px;
		letter-spacing: 5px;
	}
}